@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.content {
  left: 0;
  width: 31.4rem;
  position: absolute;
  gap: $spacing-xsmall;
  padding: $spacing-medium;
  border-radius: $spacing-medium;
  top: calc(100% + $spacing-xsmall);
  background-color: $color-neutral-lightest;

  @include mix.shadow;
  @include mix.flex-column;
}
