@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.container {
  top: 9rem;
  position: sticky;
  padding: $spacing-xlarge 0;
  @include flex(row, space-between, flex-end);
}

.title {
  @include heading-style(h2);
}
