@use "variables" as variables;
@use "mixins" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  & * {
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-body-large;
    color: variables.$color-neutral-darkest;
    line-height: variables.$line-height-body;
  }
}
