@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.layout {
  min-height: 100vh;
  padding-top: 9rem;
  background: linear-gradient(
    45deg,
    #d2f1ef 0%,
    $color-neutral-white 50%,
    #ffeef5 100%
  );
}

.main {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 $spacing-medium $spacing-large $spacing-medium;
}
