@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.layout {
  min-height: 100vh;
  padding-top: 9rem;
  background: linear-gradient(
    45deg,
    #d2f1ef 0%,
    $color-neutral-white 50%,
    #ffeef5 100%
  );
}

.main {
  margin: 0 $spacing-xhuge;
  padding: 0 $spacing-medium;

  @include mobile {
    margin: 0;
  }
}
