@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.searchBar {
  width: 100%;
  min-width: 15rem;
  gap: $spacing-xsmall;
  justify-self: flex-end;
  padding: $spacing-xsmall;
  padding-left: $spacing-medium;
  transition: all 0.3s ease-in-out;
  color: $color-neutral-extra-dark;
  border-radius: $border-radius-huge;
  background-color: $color-neutral-white;
  border: 1px solid $color-neutral-extra-light;
  height: calc(2 * $spacing-medium + $spacing-xlarge);
  padding-right: calc(2 * $spacing-medium + $spacing-xlarge);

  @include mix.body-text("large", "regular");

  &:focus-within,
  &:hover {
    outline: none;
    border-color: $color-accent-medium;
  }

  &::placeholder {
    color: $color-neutral-extra-dark;
  }
}

.searchContainer {
  width: 100%;
  display: flex;
  max-width: 40rem;
  position: relative;
}

.button {
  position: absolute;
  top: $spacing-small;
  right: $spacing-small;
}
