@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as *;

.container {
  flex-wrap: wrap;
  gap: $spacing-medium;
  padding-bottom: $spacing-large;

  @include mix.flex;
  @include mix.overflow-scroll(calc(100vh - 15.3rem));
}
