@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.container {
  flex-wrap: wrap;
  gap: $spacing-medium;
  padding-bottom: $spacing-large;

  @include flex;
  @include scrollbar-y;
}

.loading,
.error,
.empty {
  width: 100%;
  min-height: 20rem;
  padding: $spacing-large;
  color: $color-neutral-dark;

  @include flex-center;
  @include body-text(small);
}

.error {
  color: $color-accent-medium;
}
