@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  margin: 0 auto;
  max-width: 100rem;
  padding: $spacing-large 0 0 0;

  @include desktop {
    margin-top: -6rem;
  }
}

.backButton {
  top: 0;
  position: sticky;

  @include custom-breakpoint(1300px) {
    top: 0;
    position: relative;
  }
}

.divider {
  border: 0;
  margin: $spacing-large 0;
  border-top: 1px solid $color-neutral-light;
}
