@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  position: relative;
  padding-top: $spacing-xlarge;

  @include custom-breakpoint(1300px) {
    padding-top: $spacing-medium;
  }
}

.content {
  margin: 0 auto;
  max-width: 100rem;
  padding: $spacing-large 0;
}

.backButton {
  position: absolute;
  top: $spacing-xlarge;

  @include custom-breakpoint(1300px) {
    top: 0;
    position: relative;
    margin-bottom: $spacing-large;
  }
}

.divider {
  border: 0;
  margin: $spacing-large 0;
  border-top: 1px solid $color-neutral-light;
}
