@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.content {
  top: 20rem;
  display: flex;
  position: sticky;

  @include mix.mobile {
    flex-direction: column;
    height: calc(100vh - 9rem);
  }

  @include mix.desktop {
    gap: $spacing-large;
    flex-direction: row;
    height: calc(100vh - 20rem);
  }
}
