@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.content {
  display: flex;
  gap: $spacing-large;

  @include mix.mobile {
    flex-direction: column;
  }

  @include mix.desktop {
    flex-direction: row;
  }
}
